li{
    display:inline;
    padding:10px;
    margin:10px;

}


.h1{
    float:right;
    right: 40px;
}

img
{
    
height: 250px;
    width: 250px;
 position: absolute;
 top: 130px;
}
.ul
{
    margin-left: 50px;
    margin-top: 35px;

 
}
li:hover{
    cursor:pointer;
    color:blueviolet;
}



